<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduled Appointments</title>
</head>
<body>

    <ul>
        <% appointments.forEach(appointment => { %>
            <li>
                
                <strong>Doctor ID:</strong> <%= appointment.DoctorID %><br>
                <strong>Appointment Date:</strong> <%= appointment.AppointmentDate %><br>
                
            
            </li>
        <% }); %>
    </ul>
    
</body>
</html>