<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="post">
    
        <label>First Name</label>
        <input type="text" required name="FirstName"/><br>
        <label>Last Name</label>
        <input type="text" required name="LastName"/><br>
        <label>Email</label>
        <input type="text" required name="Email"/><br>
        <label>Password</label>
        <input type="text" required name="Password"/><br>
        <label>
        <input type="radio" name="AccountType" value="Patient"> Patient
        </label>
        <label>
        <input type="radio" name="AccountType" value="Doctor"> Doctor
        </label>
        <label>
        <input type="radio" name="AccountType" value="Admin"> Admin<br>
        </label>
             
        <label>Specialization</label><br>
        <input type="text" name="Specialization"/>

        <div class="g-recaptcha" data-sitekey="<%= sitekey %>"></div><br>

  <button type="submit">Submit</button>
</form>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    


    
</body>
</html>